name: Typecheck

on: ["push"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    env:
      CI: true
      POSTGRES_PRISMA_URL: "postgresql://dummy:dummy@localhost:5432/dummy"
    steps:
      # Setup
      - uses: actions/checkout@v5.0.0
      - uses: pnpm/action-setup@v4.0.0 # Uses version from package.json#packageManager
      - name: Setup Node (using .node-version)
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Generate Prisma Client
        run: pnpm prisma generate --schema=src/prisma/schema.prisma
      - name: Build to generate routes
        run: pnpm build
      # Action
      - name: Typecheck
        run: pnpm typecheck
